.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:black;
  height: auto;
  align-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formcontainer{
    width: 350px;
    height: auto;
    background-color: rgb(253, 253, 253);
    margin-left: 37%;
    
    border-radius: 10px;
    color: black;
}
.form-heading{
    text-align: center;
}
.textstyle{
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 24;
}
.inputbox{
  justify-content: left;
  width: 320px;
}